<?xml version="1.0"?>
<robot name="gripper_with_camera" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find robot_description)/urdf/adaptive_gripper/adaptive_gripper.urdf.xacro"/>
  <xacro:include filename="$(find robot_description)/urdf/rgbd_camera/d435i_mounted.urdf.xacro"/>

  <xacro:macro name="gripper_with_camera" params="parent *origin name:=camera prefix:='' use_nominal_extrinsics:=false">
    <xacro:adaptive_gripper parent="${parent}" prefix="${prefix}">
      <xacro:insert_block name="origin"/>
    </xacro:adaptive_gripper>

    <xacro:d435i_mounted parent="${prefix}gripper_mount" name="${name}" prefix="${prefix}" use_nominal_extrinsics="${use_nominal_extrinsics}">
      <origin xyz="0 0 0" rpy="3.141592653589793 0 1.5707963267948966" />
    </xacro:d435i_mounted>
  </xacro:macro>
</robot>
