<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mycobot_280pi">
    <xacro:arg name="robot_name" default="mycobot_280pi"/>
    <xacro:arg name="add_world" default="true"/>
    <xacro:arg name="cobot_ns" default=""/>
    <xacro:arg name="flange_link" default="link6_flange"/>
    <xacro:arg name="use_nominal_extrinsics" default="true"/>
    <xacro:arg name="use_gazebo" default="false"/>

    <!-- Compute prefix from cobot_ns, same as leo -->
    <xacro:property name="prefix" value=""/>
    <xacro:if value="${'$(arg cobot_ns)' != '' and '$(arg cobot_ns)' != '/'}">
      <xacro:property name="prefix" value="$(arg cobot_ns)/"/>
    </xacro:if>

    <xacro:include filename="$(find robot_description)/urdf/mycobot_280pi/mycobot_280pi_arm.urdf.xacro"/>
    <link name="${prefix}base_link"/>
    <xacro:mycobot_280pi_arm
      base_link="base_link"
      flange_link="$(arg flange_link)"
      prefix="${prefix}">
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:mycobot_280pi_arm>

    <xacro:if value="$(arg add_world)">
      <link name="world"/>
      <joint name="${prefix}virtual_joint" type="fixed">
          <parent link="world"/>
          <child link="${prefix}base_link"/>
          <origin xyz="0 0 0" rpy="0 0 0"/>
      </joint>
    </xacro:if>

    <xacro:include filename="$(find robot_description)/urdf/adaptive_gripper/gripper_with_camera.urdf.xacro"/>
    <xacro:gripper_with_camera parent="$(arg flange_link)" prefix="${prefix}" name="${prefix}camera" use_nominal_extrinsics="$(arg use_nominal_extrinsics)">
      <origin xyz="0 0 0.034" rpy="1.579 0 0.785398"/>
    </xacro:gripper_with_camera>

    <xacro:include filename="$(find robot_description)/urdf/control/gazebo_sim_ros2_control.urdf.xacro" />
    <xacro:load_gazebo_sim_ros2_control_plugin
      robot_name="$(arg robot_name)"
      use_gazebo="$(arg use_gazebo)"/>

    <xacro:include filename="$(find robot_description)/urdf/control/mycobot_280_ros2_control.urdf.xacro" />
    <xacro:mycobot_ros2_control
      prefix="${prefix}"
      flange_link="$(arg flange_link)"
      use_gazebo="$(arg use_gazebo)"/>

</robot>
